local   all             postgres                                peer

# TYPE  DATABASE        USER            ADDRESS                 METHOD

# "local" is for Unix domain socket connections only
local   all             all                                     peer
host  {{ db_name }} {{ db_user }} {{ db_client_host }}/24 md5
